* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: auto;
  background-color: #23252C;
}

.info-title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  text-align: center;
  color: #dcdcdc;
}

.subtitle2 {
  margin-top: 10px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12.8px;
  line-height: 15px;
  text-align: center;
  color: #f3bf99;
}

.subtitle1 {
  color: #f5f5f5;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
}

.card {
  margin: 0 auto;
  color: #dcdcdc;
  width: 400px;
  height: 868px;
  display: flex;
  align-items: center;
}

.card-content {
  position: relative;
  margin: auto;
  border-radius: 10px;
  height: 780px;
  width: 317px;
  background: #1a1b21;
}

a {
  text-decoration: none;
}

.profile-pic {
  height: 350px;
  width: 100%;
  border-radius: 10px 10px 0px 0px;
}

.button-container {
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  align-content: center;
}

button {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 115px;
  height: 34px;
  border-radius: 6px;
}

.email-btn {
  padding: 0 22px;
  font-size: 14px;
  background: #ffffff;
  border: 1px solid #d1d5db;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
}

.linkedin-btn {
  padding: 0 16px;
  font-size: 14px;
  color: #fff;
  background: #297fe5;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  border: none;
}

.component-container {
  padding: 14px 35px;
}

.about-text {
  font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 11px;
line-height: 150%;
color: #DCDCDC;
}

.icon-container {
  display: flex;
  justify-content: space-between;
  padding: 0 73px;
  position: absolute;
  bottom: 0;
  width: 317px;
  height: 64px;
  background: #161619;
  border-radius: 0px 0px 10px 10px;
}

.icon-link {
  margin: auto;
}
